.display-grid{
    width: 200px;
    height: 300px;
    background: #C4C4C4;
    display: grid;
    grid-template-columns: 40px 120px;
    grid-template-rows: 38px 38px 38px;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.grid-item-pink{
    background: #EB5757;
}
.grid-item-blue{
    background:  #0085FF;
}